.AboutBonsai {
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.AboutBonsai .bonsai-ontainer .title {
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.AboutBonsai .bonsai-ontainer {
    padding: 40px;
}

.AboutBonsai .bonsai-ontainer p {
    font-size: 40px;
    width: 70%;  
}