.PasionBonsai {
    background-color: #2B5A27;
    display: flex;
    padding: 7%;
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    flex-direction: column;

}
.PasionBonsai h1{
    font-size: 60px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.title{
    width: 100%;
    text-align: center;
}

.cardWrapper{
    display: flex;
}

.PasionBonsai .card {
    flex-direction: column;
    width: 25%;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.PasionBonsai .card img {
    width: 60%;
}