.title{
    padding-top: 100px;
    text-align: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    color: #939da5;

}
.tree{
    justify-content: center;
    display: flex;
}
.videos {
    justify-content: center;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;

}